<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Member</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% load static %}
    <!-- <link rel="stylesheet" href="{% static 'style.css' %}"> -->
</head>

<body>
    <div class="container mt-5">
        <h1 class="mb-4">Update Member</h1>
        <form action="{% url 'uprec' mem.id %}" method="post">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="first">First Name</label>
                <input type="text" class="form-control" id="first" name="first" value="{{ mem.firstname }}" required>
            </div>
            <div class="form-group mb-3">
                <label for="last">Last Name</label>
                <input type="text" class="form-control" id="last" name="last" value="{{ mem.lastname }}" required>
            </div>
            <div class="form-group mb-3">
                <label for="country">Country</label>
                <input type="text" class="form-control" id="country" name="country" value="{{ mem.country }}" required>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
